<h1>Exercise : <%= @exercise.duration_in_min %></h1>

<br>
Duration in min : <%= @exercise.duration_in_min %>
<br>
Workout : <%= @exercise.workout %>
<br>
Workout Date : <%= @exercise.workout_date %>
<br>
<hr>

<%= link_to "Back", exercises_path, class: "btn btn-success" %>