<!DOCTYPE html>
<html>
<head>
  <title>WorkoutApp3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render "shared/header" %>
	</header>

	<main>
		<div class="container">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>

			<%= yield %>		
		</div>
	</main>

	<footer>
		
	</footer>

</body>
</html>
